<launch>

    <!-- Arguments -->
    <!-- default="/camera/image_raw" -->
    <arg name="video_feed_topic" value="/rms/camera1/image_raw"/>
    <arg name="focal_length_pxl" value="580"/>
    <arg name="padding_horizontal" value="0"/>
    <arg name="padding_vertical" value="25"/>

    <!-- Node -->
    <node pkg="visual_servoing" type="visual_servoing_script.py" name="visual_servoing_node" output="screen">
        
        <param name="~video_feed_topic" type="str" value="$(arg video_feed_topic)"/>
        <param name="~focal_length_pxl" type="int" value="$(arg focal_length_pxl)"/>
        <param name="~padding_horizontal" type="int" value="$(arg padding_horizontal)"/>
        <param name="~padding_vertical" type="int" value="$(arg padding_vertical)"/>
        
    </node>

    <node name="image_view_vspub" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/vs/robot_0/image_pub"/>
    </node>
    <!-- 
    <node name="image_view_feed" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="$(arg camera_feed_topic)"/>
    </node>
     -->
    <!--
    <group ns="/vs">
    
        <arg name="video_feed_topic" value="/rms/camera1/image_raw"/>

    </group>
    -->
</launch>
